@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;


main {

    .modal {
        z-index: 96;
        overflow: hidden;

        &__topImg {

            img {
                width: rem(415) !important;
                object-fit: cover;
            }
        }

        .closeCtn {
 
            svg {
                * {
                    @include transition(fill);
                }

                &:hover * {
                    fill: var(--orange)
                }
            }
        }

        .modalThumbnailsCtn {

            .modalThumImg__ctn {
                position: relative !important;
                cursor: pointer;
                border-radius: 1rem;
                @include transition(opacity);
                border: 2px solid hsl(0, 0%, 100%, 0);


                &::before {
                    content: "";
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    background-color: #fff;
                    opacity: 0;
                    border-radius: rem(8);
                    @include transition(opacity);
                }

                &.active {
                    border: 2px solid var(--orange);
                    pointer-events: none;
                    @include transition(opacity);

                    &::before {
                        opacity: .5;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                &:hover {
                    opacity: .7;
                }
            }

            img {
                width: 4rem;
                cursor: pointer;
            }
        }

        .modalBtn {
            top: 40%;
            cursor: pointer;

            &:hover {
                svg {
                    @include transition;


                    * {
                        @include transition(all);
                    }

                    * {
                        stroke: var(--orange);
                    }
                }
            }

        }
    }

    .imgCtn {

        &__mobileSlide {
            height: 47vh;

            .slideBtn {
                top: 45%;
            }
        }

        &__desktopCtn {

            .topImgCtn {
                img {
                    width: rem(445) !important;
                    object-fit: cover;
                    cursor: pointer;
                }
            }


            .thumbnailsCtn {

                .thumImg__ctn {
                    position: relative !important;
                    cursor: pointer;
                    border-radius: rem(8);
                    border: 2px solid #fff;
                    @include transition(opacity);

                    &::before {
                        content: "";
                        z-index: 2;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0;
                        border-radius: rem(8);
                        @include transition;
                    }

                    &.active {
                        border: 2px solid var(--orange);
                        pointer-events: none;

                        &::before {
                            opacity: .5;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        opacity: .7;
                    }
                }


                img {
                    width: 5.5rem;
                }
            }
        }
    }

    .productDetails {
        &__subHeader {
            color: var(--orange);
            text-transform: uppercase;
        }

        &__priceCtn {

            .discount {
                color: var(--orange);
                background-color: var(--pale-orange);
            }

            .oldPrice {
                color: var(--dark-g-blue);
                opacity: .6 !important;
            }
        }

        &__quantityCtn {
            background-color: var(--light-g-blue);

            img {
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        button {
            background-color: var(--orange);
            @include transition(opacity);

            &:hover {
                opacity: .7;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}